:root {
  --primary-1: #f2f2f2;
  --primary-2: #10637d; /* heading */
  --primary-3: #b3c3d7;
  --primary-4: #10f0fc;
  --dark-1: #1c2025;
  --dark-2: #313131;
  --dark-3: #27282f;

  --ff-base: "Ubuntu", sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--primary-1);
  color: var(--dark-2);
  font-family: var(--ff-base);
  font-size: 2rem;
  line-height: 1.5;
}

/* block */
.block {
  padding: 5rem 2rem;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* grid */
.grid {
  display: grid;
}

@media (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* btn */
.btn {
  display: block;
  padding: 2rem 5rem;
  outline: 0;
  border: 0;
  border-radius: 1rem;
  width: 100%;
  text-decoration: none;
}

.btn--primary {
  background: var(--primary-2);
  color: var(--primary-1);
}

/* hero */

.hero .grid {
  gap: 1rem;
  justify-items: center;
}

.hero__img {
  width: 26rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
}

.hero__header {
  text-align: center;
}

.hero .author {
  color: var(--primary-2);
  margin: 0;
  font-size: 5rem;
}

.hero .job {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  font-weight: var(--fw-bold);
}

@media (min-width: 768px) {
  .hero__header {
    text-align: start;
  }

  .hero .grid {
    grid-template-columns: auto 1fr;
    gap: 4rem;
  }

  .hero .btn {
    width: max-content;
  }
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* section */
.section-heading {
  color: var(--primary-2);
  text-transform: capitalize;
}

/* project */
.project {
  color: var(--dark-2);
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: #d7d7d7 0 0 20px;
  max-width: fit-content;
  transition: 0.2s ease-out;
}

.projects .grid:hover > * {
  opacity: 0.5;
}

.projects .grid:hover .project:hover {
  transform: scale(1.02);
  opacity: 1;
}

.projects .grid {
  gap: 3rem;
  justify-items: center;
}

/* .project__img {
  max-height: 17rem;
} */

.project__body {
  padding: 0 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.project__name {
  margin: 0;
  color: #313131;
}

.project__info {
  font-weight: var(--fw-regular);
}

.project__tools {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tool {
  padding-inline: 1.5rem;
  background-color: #e6e6e6;
  width: fit-content;
  border-radius: 1.5rem;
  text-transform: capitalize;
  font-weight: var(--fw-light);
}

/* links */
.project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-inline-end: 0.5rem;
  display: flex;
  gap: 2rem;
}

.icon {
  color: var(--dark-2);
  font-size: 2.2rem;
}
